services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - campaign_icons:/app/campaign_icons
      - chardata:/app/chardata
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"

  bot-player:
    build:
      context: ./bot
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - redis
      - backend
    env_file:
      - .env
  bot-admin:
    build:
      context: ./adminbot
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - redis
      - backend
    env_file:
      - .env
  redis:
    image: redis:8.2.2-alpine3.22
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
  campaign_icons:
  chardata:
